<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Cine XYZ</title>
</head>
<body>
    <header>
        <h1>Cine XYZ</h1>
    </header>
    
    <nav>
        <ul class="menu">
            <li><a href="/templates/index.html">Cartelera</a></li>
            <li><a href="/templates/proximos.html">Próximos</a></li>
        </ul>
    </nav>

    <main>
        <section class="cartelera">
            <h2>Cartelera</h2>
            
            <div class="fila-peliculas">
                <div class="pelicula"
                     data-titulo="The Marvel"
                     data-directores="Director 1, Director 2"
                     data-actores="Actor 1, Actor 2"
                     data-resumen="Resumen de The Marvel">
                    <img src="https://th.bing.com/th?id=ODL.14637f38477aece77532d1382251c80d&w=135&h=201&c=10&rs=1&qlt=90&o=6&pid=13.1" alt="Pelicula 1">
                    <h3>The Marvel</h3>
                </div>

                <div class="pelicula"
                     data-titulo="El exorcista:creyente"
                     data-directores="Director 3"
                     data-actores="Actor 3, Actor 4"
                     data-resumen="Resumen de El exorcista:creyente">
                    <img src="https://pics.filmaffinity.com/the_exorcist_believer-559498509-msmall.jpg" alt="Pelicula 2">
                    <h3>El exorcista:creyente</h3>
                </div>

                <div class="pelicula"
                     data-titulo="La patrulla canina: La superpelícula"
                     data-directores="Director 5"
                     data-actores="Actor 5, Actor 6"
                     data-resumen="Resumen de La patrulla canina: La superpelícula">
                    <img src="https://th.bing.com/th?id=ODL.a4bd0a39c0c6b4c70849d03398e8ef8a&w=135&h=201&c=10&rs=1&qlt=90&o=6&pid=13.1" alt="Pelicula 3">
                    <h3>La patrulla canina: La superpelícula</h3>
                </div>

                <div class="pelicula"
                     data-titulo="Alimañas"
                     data-directores="Director 7"
                     data-actores="Actor 7, Actor 8"
                     data-resumen="Resumen de Alimañas">
                    <img src="https://th.bing.com/th?id=ODL.d3e1a2c969e4ccf1c49c2dc171a97cf1&w=135&h=201&c=10&rs=1&qlt=90&o=6&pid=13.1" alt="Pelicula 4">
                    <h3>Alimañas</h3>
                </div>
            </div>

            <div class="fila-peliculas">
                <div class="pelicula"
                     data-titulo="Campeonex"
                     data-directores="Director 9"
                     data-actores="Actor 9, Actor 10"
                     data-resumen="Resumen de Campeonex">
                    <img src="https://th.bing.com/th?id=ODL.98d3a05b1f66bf20a4177fe9d2d055a1&w=135&h=201&c=10&rs=1&qlt=90&o=6&pid=13.1" alt="Pelicula 5">
                    <h3>Campeonex</h3>
                </div>

                <div class="pelicula"
                     data-titulo="El favor"
                     data-directores="Director 11"
                     data-actores="Actor 11, Actor 12"
                     data-resumen="Resumen de El favor">
                    <img src="https://pics.filmaffinity.com/el_favor-331440462-mmed.jpg" alt="Pelicula 6">
                    <h3>El favor</h3>
                </div>

                <div class="pelicula"
                     data-titulo="Hypnotic"
                     data-directores="Director 13"
                     data-actores="Actor 13, Actor 14"
                     data-resumen="Resumen de Hypnotic">
                    <img src="https://th.bing.com/th?id=ODL.b13afba3f330f1541b2a089848d4ec91&w=135&h=201&c=10&rs=1&qlt=90&o=6&pid=13.1" alt="Pelicula 7">
                    <h3>Hypnotic</h3>
                </div>

                <div class="pelicula"
                     data-titulo="Juniper"
                     data-directores="Director 15"
                     data-actores="Actor 15, Actor 16"
                     data-resumen="Resumen de Juniper">
                    <img src="https://th.bing.com/th?id=ODL.83ac52fd125509b3572ce583e5a4500b&w=135&h=201&c=10&rs=1&qlt=90&o=6&pid=13.1" alt="Pelicula 8">
                    <h3>Juniper</h3>
                </div>
            </div>
        </section>

        <!-- Contenedor para mostrar la información de la película -->
        <div id="informacion-pelicula-container" class="informacion-pelicula-container">
            <h2>Información de la Película</h2>
            <p id="titulo-pelicula"></p>
            <p id="directores-pelicula"></p>
            <p id="actores-pelicula"></p>
            <p id="resumen-pelicula"></p>
            <button onclick="ocultarInformacionPelicula()">Cerrar</button>
        </div>
    </main>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const peliculas = document.querySelectorAll('.pelicula');

            peliculas.forEach(pelicula => {
                pelicula.addEventListener('click', function () {
                    const tituloPelicula = pelicula.getAttribute('data-titulo');
                    const directoresPelicula = pelicula.getAttribute('data-directores');
                    const actoresPelicula = pelicula.getAttribute('data-actores');
                    const resumenPelicula = pelicula.getAttribute('data-resumen');

                    mostrarInformacionPelicula(tituloPelicula, directoresPelicula, actoresPelicula, resumenPelicula);
                });
            });
        });

        function mostrarInformacionPelicula(titulo, directores, actores, resumen) {
            const tituloPeliculaElement = document.getElementById('titulo-pelicula');
            const directoresPeliculaElement = document.getElementById('directores-pelicula');
            const actoresPeliculaElement = document.getElementById('actores-pelicula');
            const resumenPeliculaElement = document.getElementById('resumen-pelicula');
            const informacionPeliculaContainer = document.getElementById('informacion-pelicula-container');

            tituloPeliculaElement.textContent = `Título: ${titulo}`;
            directoresPeliculaElement.textContent = `Directores: ${directores}`;
            actoresPeliculaElement.textContent = `Actores: ${actores}`;
            resumenPeliculaElement.textContent = `Resumen: ${resumen}`;
            informacionPeliculaContainer.style.display = 'block';
        }

        function ocultarInformacionPelicula() {
            const informacionPeliculaContainer = document.getElementById('informacion-pelicula-container');
            informacionPeliculaContainer.style.display = 'none';
        }
    </script>
</body>
</html>






