<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Cine XYZ</title>
</head>
<body>
    <header>
        <h1>Cine XYZ</h1>
    </header>
    
    <nav>
        <ul class="menu">
            <li><a href="/templates/index.html">Cartelera</a></li>
            <li><a href="/templates/proximos.html">Próximos</a></li>
        </ul>
    </nav>

    <main>
        <section class="cartelera">
            <h2>Cartelera</h2>
            
            <div class="fila-peliculas">
                <a href="pelicula.html?pelicula=pelicula1">
                    <div class="pelicula">
                        <img src="https://th.bing.com/th?id=ODL.14637f38477aece77532d1382251c80d&w=135&h=201&c=10&rs=1&qlt=90&o=6&pid=13.1" alt="Pelicula 1">
                        <h3>The Marvel</h3>
                    </div>
                </a>

                <a href="pelicula.html?pelicula=pelicula2">
                    <div class="pelicula">
                        <img src="https://pics.filmaffinity.com/the_exorcist_believer-559498509-msmall.jpg" alt="Pelicula 2">
                        <h3>El exorcista:creyente</h3>
                    </div>
                </a>

                <a href="pelicula.html?pelicula=pelicula3">
                    <div class="pelicula">
                        <img src="https://th.bing.com/th?id=ODL.a4bd0a39c0c6b4c70849d03398e8ef8a&w=135&h=201&c=10&rs=1&qlt=90&o=6&pid=13.1" alt="Pelicula 3">
                        <h3>La patrulla canina: La superpelícula</h3>
                    </div>
                </a>

                <a href="pelicula.html?pelicula=pelicula4">
                    <div class="pelicula">
                        <img src="https://th.bing.com/th?id=ODL.d3e1a2c969e4ccf1c49c2dc171a97cf1&w=135&h=201&c=10&rs=1&qlt=90&o=6&pid=13.1" alt="Pelicula 4">
                        <h3>Alimañas</h3>
                    </div>
                </a>
            </div>

            <div class="fila-peliculas">
                <a href="pelicula.html?pelicula=pelicula5">
                    <div class="pelicula">
                        <img src="https://th.bing.com/th?id=ODL.98d3a05b1f66bf20a4177fe9d2d055a1&w=135&h=201&c=10&rs=1&qlt=90&o=6&pid=13.1" alt="Pelicula 5">
                        <h3>Campeonex</h3>
                    </div>
                </a>

                <a href="pelicula.html?pelicula=pelicula6">
                    <div class="pelicula">
                        <img src="https://pics.filmaffinity.com/el_favor-331440462-mmed.jpg" alt="Pelicula 6">
                        <h3>El favor</h3>
                    </div>
                </a>

                <a href="pelicula.html?pelicula=pelicula7">
                    <div class="pelicula">
                        <img src="https://th.bing.com/th?id=ODL.b13afba3f330f1541b2a089848d4ec91&w=135&h=201&c=10&rs=1&qlt=90&o=6&pid=13.1" alt="Pelicula 7">
                        <h3>Hypnotic</h3>
                    </div>
                </a>

                <a href="pelicula.html?pelicula=pelicula8">
                    <div class="pelicula">
                        <img src="https://th.bing.com/th?id=ODL.83ac52fd125509b3572ce583e5a4500b&w=135&h=201&c=10&rs=1&qlt=90&o=6&pid=13.1" alt="Pelicula 8">
                        <h3>Juniper</h3>
                    </div>
                </a>
            </div>

            <!-- Agrega más películas según sea necesario -->

        </section>
    </main>

    <script>
        // JavaScript específico para la página de inicio (index.html) si es necesario
    </script>
</body>
</html>





