<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Detalles de la Película</title>

    <!-- Agrega tus estilos adicionales aquí si es necesario -->
    >
</head>
<body>
    <header>
        <h1>Detalles de la Película</h1>
    </header>
    <nav>
        <ul class="menu">
            <li><a href="/templates/index.html">Volver a Cartelera</a></li>
            <li><a href="/templates/proximos.html">Volver a Próximos</a></li>
        </ul>
    </nav>

    <main>
        <section class="detalles-pelicula">
            <div id="informacion-pelicula-container" class="informacion-pelicula-container">
                <!-- Contenido de la información de la película aparecerá aquí -->
            </div>
        </section>
    </main>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Obtener la información de la película de la URL
            const urlParams = new URLSearchParams(window.location.search);
            const tituloPelicula = urlParams.get('titulo');
            const descripcionPelicula = urlParams.get('descripcion');
            const directorPelicula = urlParams.get('director');
            const anoPelicula = urlParams.get('ano');
            const imagenPelicula = urlParams.get('imagen');
            const tipoPelicula = urlParams.get('type');
            const duracionPelicula = urlParams.get('duracion');
            const actoresPelicula = urlParams.get('actores');

            // Mostrar la información de la película
            mostrarInformacionPelicula(tituloPelicula, descripcionPelicula, directorPelicula, anoPelicula, imagenPelicula, tipoPelicula, duracionPelicula, actoresPelicula);
        });

        function mostrarInformacionPelicula(titulo, descripcion, director, ano, imagen, tipo, duracion, actores) {
            const informacionPeliculaContainer = document.getElementById('informacion-pelicula-container');
            const html = `
                <h2>${titulo}</h2>
                <div class="detalles-pelicula">
                    <img src="${imagen}" alt="${titulo}">
                    <div class="informacion-pelicula-container">
                        <p><strong>Director:</strong> ${director}</p>
                        <p><strong>Actores:</strong> ${actores}</p>
                        <p><strong>Sinopsis:</strong> ${descripcion}</p>
                        <p><strong>Duración:</strong> ${duracion}</p>
                        <p><strong>Año:</strong> ${ano}</p>
                        <p><strong>Tipo:</strong> ${tipo}</p>
                        
                    </div>
                </div>
            `;

            informacionPeliculaContainer.innerHTML = html;
        }
    </script>
</body>
</html>


